<div id="carousel-custom" class="carousel slide" data-ride="carousel">
  <div class="carousel-outer">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{primary}}" alt="slide 1" />
      </div>
      <div>
        <div class="carousel-item" *ngFor="let d of data let i = index">
          <img class="d-block w-100" src="{{d.image}}" alt="slide {{i}}">
        </div>
      </div>
    </div>
    <!--controls-->
    <a class="carousel-control-prev" href="#carousel-custom" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-custom" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <ol class='carousel-indicators'>
    <!--<li data-target="#carousel-custom" class="active">
            <img class="thumbnail" src='{{primary}}' data-slide-to="" alt='' />
        </li>-->
    <li data-target="#carousel-custom" *ngFor="let d of data let i = index" [attr.data-slide-to]="i">
      <img class="thumbnail" src='{{d.image}}' alt='' />
    </li>
  </ol>
</div>
