<div class="container-fluid">
  <div class="row m-5"></div>
  <div class="row" *ngIf='data'>
    <div class="col-md-6">
      <p class="m-4">{{data.productTitle}}</p>
      <!--<img width="300" alt="Blender" src='{{data.primaryImage}}'>-->
      <app-carousel [data]="images"></app-carousel>
    </div>
    <div class="col-md-6">
      <div class="row m-4">
        <p><b>{{data.productPrice}}</b><sub>{{data.priceQualifier}}</sub></p>
      </div>
      <div class="row col-sm-5 m-3">
        <app-quantity-counter></app-quantity-counter>
      </div>
      <div class="row col-sm-5">
          <button type="button" *ngIf='data.purchasingChannelCode === 0 || data.purchasingChannelCode === 2' class="btn btn-primary btn-sm">PICK UP IN STORE</button>
          <button type="button" *ngIf='data.purchasingChannelCode === 0 || data.purchasingChannelCode === 1' class="btn btn-primary btn-sm">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>
