.title-product {
  /*font-size: 23px;*/
  font-weight: normal;
  color: #333;
  text-align: center;
}

div.v-text{
  position:relative;
  float:left;
  margin-right:5px;
}

div.v-text span {
  position:absolute;
  bottom:0;
  right:-45px;
}
.tiny-text {
  font-size: 8px;
}

.promo {
  color: #c00
}

.ruler {

  border: 0.5px solid #8c8b8b;
  width: 500px;

}
.btnSpace{
  position: relative;
  padding: 1rem;
  margin: 0 -15px 0;
}

ul {
  margin-left: 10px;
  padding-left: 10px;
}
