<div class="container-fluid">
  <div class="row m-5"></div>
  <div class="row" *ngIf='data'>
    <div class="col-md-6">
      <span class="m-4">{{data.productTitle}}</span>
      <!--<img width="300" alt="Blender" src='{{data.primaryImage}}'>-->
      <app-carousel [data]="images"></app-carousel>
    </div>
    <div class="col-md-6">
      <div class="row col-sm-6 m-4">
        <p><b>{{data.productPrice}}</b><small>{{data.priceQualifier}}</small></p>
      </div>
      <div class="row col-sm-6 m-3">
        <app-quantity-counter></app-quantity-counter>
      </div>
      <div class="row m-3">
          <div class="col-sm-6">
          <button  type="button" *ngIf='data.purchasingChannelCode === 0 || data.purchasingChannelCode === 2' class="btn btn-primary btn-sm">PICK UP IN STORE</button>
        </div>
        <div class="col-sm-6">
          <button  type="button" *ngIf='data.purchasingChannelCode === 0 || data.purchasingChannelCode === 1' class="btn btn-primary btn-sm">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>
